{% extends 'bennguoidung/base.html' %}
{% load static %}

{% block title %}Thông tin tài khoản{% endblock %}

{% block style %}

<style>

    .form-group label {
        font-weight: bold;
    }

    .avatar-preview {
        width: 200px;
        height: 200px;

        overflow: hidden;
        margin-bottom: 20px;
    }
    

    .avatar-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin-bottom: 20px;
        }
    .avatar-preview img {
        max-width: 100%;
        max-height: 100%;
         }

    .form-actions {
        margin-top: 20px;
    }
    .button-group {
    margin-top: 20px;
    }

    .avatar-actions {
    pointer-events: none;
    display: none;
}
    .left-menu{
        margin-top:2px;
    }
    .custom-margin{
        margin-top: 60px !important;
    }
    footer.text-center.text-lg-start.custom-footer {
    margin-top: 274px;
}



</style>
{% endblock %}

{% block body %}
<div class="wrapper"></div>
    <div class="container mt-5 custom-margin">
        <h1>Thông tin tài khoản</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_student_id">Họ và Tên:</label>
                {{ request.user.userprofile.name }}
            </div>
            <div class="form-group">
                <label for="id_student_id">Mã sinh viên:</label>
                {{ request.user.userprofile.student_id }}
            </div>
            <div class="form-group">
                <label for="id_course">Khóa học:</label>
                {{ request.user.userprofile.course }}
            </div>
            <div class="form-group">
                <label for="id_phone">Số điện thoại:</label>
                {{ form.phone }}
            </div>
        <div class="form-group">
            <label for="id_avatar">Ảnh đại diện:</label>
            <div class="avatar-preview">
                {% if form.instance.avatar %}
                    <div class="avatar-img">
                        <img src="{{ form.instance.avatar.url }}" alt="Avatar preview">
                    </div>
                {% else %}
                    <div class="avatar-img">
                        <img src="{% static 'img/default-avatar.png' %}" alt="Default avatar preview">
                    </div>
                {% endif %}
                <div class="avatar-actions">
                    <button type="button" id="avatar-upload-btn" class="avatar-option">Thêm ảnh</button>
                    <button type="button" id="avatar-delete-btn" class="avatar-option">Xóa ảnh</button>
                </div>
            </div>
            <input type="file" name="avatar" accept="image/*" id="id_avatar" style="display: none;">
            {% if userprofile.avatar %}
                <div>Currently: <a href="{{ userprofile.avatar.url }}">{{ userprofile.avatar }}</a></div>
                <div><input type="checkbox" name="avatar-clear" id="avatar-clear_id"><label for="avatar-clear_id">Clear</label></div>
            {% endif %}
        </div>
        
        <div class="form-group button-group">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a href="{% url 'account_profile' %}" class="btn btn-secondary">Hủy bỏ</a>
        </div>
    </form>
    </div>

</div>




<script>
        const avatarPreview = document.querySelector('.avatar-preview');
        const avatarUploadBtn = document.querySelector('#avatar-upload-btn');
        const avatarDeleteBtn = document.querySelector('#avatar-delete-btn');
        const avatarInput = document.querySelector('#id_avatar');

        avatarPreview.addEventListener('click', () => {
            avatarInput.click();
        });

        avatarUploadBtn.addEventListener('click', () => {
            avatarInput.click();
        });

        avatarInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = () => {
                const img = document.createElement('img');
                img.src = reader.result;
                avatarPreview.querySelector('.avatar-img').innerHTML = '';
                avatarPreview.querySelector('.avatar-img').appendChild(img);
                avatarPreview.querySelector('.avatar-actions').innerHTML = '';
                avatarPreview.querySelector('.avatar-actions').appendChild(avatarDeleteBtn);
            }

            reader.readAsDataURL(file);
        });

        avatarDeleteBtn.addEventListener('click', () => {
            avatarPreview.querySelector('.avatar-img').innerHTML = '';
            avatarPreview.querySelector('.avatar-actions').innerHTML = '';
            avatarPreview.querySelector('.avatar-actions').appendChild(avatarUploadBtn);
            document.querySelector('#delete-avatar').checked = true;
        });
</script>
{% endblock %}