{% extends 'client/base.html' %}


{% block title %} {% endblock %}

{%block style%}
<style>
  .container {
    margin-top: 200px;
  }

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
    justify-content: flex-start;
  }

  .breadcrumbs li {
    list-style: none;
  }

  .breadcrumbs li:not(:last-child)::after {
    content: '>';
    margin: 0 10px;
  }

  .breadcrumbs li a {
    color: #666;
    text-decoration: none;
  }

  .breadcrumbs li a:hover {

    text-decoration: none;
  }

  .centered-text {
    display: flex;
    justify-content: center;
  }

  .article-list-item {
    display: flex;
    align-items: center;
  }

  .article-list-item .fas {
    margin-right: 5px;
  }
</style>

{% endblock %}

{%block body%}
<div class="container">
  <div class="column column--sm-8">
    <ol class="breadcrumbs">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="">Know ledge</a></li>
    </ol>
  </div>
  <h1 class="mt-4 mb-3 text-align:center">
    <span class="centered-text">{{ knowledge.category }}</span>
  </h1>
  <div class="row section-tree clearfix">
    <section class="column column--sm-6 column--md-4 section">
      <h3>Hôm nay ăn gì ?</h3>
      <ul class="article_list">
        <li class="article-list-item article-list-item--is-promoted">
          <span class="fas fa-star" title="Promoted article"></span>
          <a href="https://support.intelliboard.net/hc/en-us/categories/13165861517965-Publisher-">Primary Account
            Holders and Admins: Auto-Approve Datasets </a>
        </li>
        <li class="article-list-item article-list-item--is-promoted">
          <span class="fas fa-star" title="Promoted article"></span>
          <a href="https://support.intelliboard.net/hc/en-us/categories/13165861517965-Publisher-">Primary Account
            Holders and Admins: Auto-Approve Datasets </a>
        </li>
        <li class="article-list-item article-list-item--is-promoted">
          <span class="fas fa-star" title="Promoted article"></span>
          <a href="https://support.intelliboard.net/hc/en-us/categories/13165861517965-Publisher-">Primary Account
            Holders and Admins: Auto-Approve Datasets </a>
        </li>
        <li class="article-list-item article-list-item--is-promoted">
          <span class="fas fa-star" title="Promoted article"></span>
          <a href="https://support.intelliboard.net/hc/en-us/categories/13165861517965-Publisher-">Primary Account
            Holders and Admins: Auto-Approve Datasets </a>
        </li>

      </ul>
    </section>


  </div>
</div>




</div>


{% endblock %}