{% load static%}

<style>

    .imageava .icon{
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }


</style>
<div class="main-wrapper">
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm expand-header">
            <div class="header-left d-flex">
                <a href="{% url 'home'%}"><img src="{% static 'assets/client/img/logo.8e5334db.svg'%}" alt="" class=""></a>
                {% if user.is_staff or user.is_superuser or "manageUser" in user.groups.values_list|join:" " %}
                <a href="#!" class="sidebarCollapse" id="toogleSidebar"data-placement="bottom">
                    <span class="fas fa-bars"></span>
                </a>
                {% endif %}
            </div>
            
            <ul class="navbar-item flex-row ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown user-profile-dropdown">
                    <a href="" class="nav-link user" id = "Notify" data-bs-toggle="dropdown">
                        <img src="{% static 'assets/client/img/notification (1).png'%}" alt="" class="icon">
                        <p class="count purple-gradient">1</p>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dp-main-menu">
                            <a href="" class="dropdown-item message-item">
                                <img src="{% static 'assets/client/img/257939872_2963107480595760_6555658843355295096_n.jpg'%}" alt="" class="user-note">
                                <div class="note-info-desmis">
                                    <div class="user-notify-info">
                                        <p class="note-name">Hà Minh Tiến</p>
                                        <p class="note-comment">đã trả lời yêu cầu của bạn</p>
                                    </div>
                                    <p  class="status-link"><span class="fas fa-times"></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                {% if request.user.is_authenticated %}
                    {% if request.user.userprofile %}
                        <li class="nav-item dropdown user-profile-dropdown">
                            <a href="{% url 'create_request'%}" class="nav-link user" >
                                <img src="{% static 'assets/client/img/edit.png'%}" alt="" class="icon">
                            </a>
                        </li>
                        <li class="nav-item dropdown user-profile-dropdown">
                            <a href="" class="nav-link user imageava" id = "Notify" data-bs-toggle="dropdown">
                                <img src="{{request.user.userprofile.avatar.url}}" alt="" class="icon">
                            </a>
                            <div class="dropdown-menu">
                                <div class="user-profile-section">
                                    <div class="media mx-auto">
                                        
                                        <img src="{{ request.user.userprofile.avatar.url }}" alt="" class="img-fluid mr-2">
                                        <div class="media-body">
                                            <h5>{{ request.user.userprofile.name }}</h5>
                                            <p> {{ request.user.userprofile.student_id }} </p>
                                            {% endif %}
                                            {%endif %}
                                    </div>
                                </div>
                                <div class="dp-main-menu">
                                    <a href="{% url 'account_profile' %}" class="dropdown-item"><span class="fas fa-user"></span>Trang cá nhân</a>
                                    <!-- {% if user.is_staff or user.is_superuser or "manageUser" in user.groups.values_list|join:" " %}
                                    <a href="{% url 'manage_view' %}" class="dropdown-item"><span class="fas fa-outdent"></span>Quản lý yêu cầu</a>
                                    {% endif %} -->
                                    <a href="{% url 'my-topic' %}" class="dropdown-item"><span class="fas fa-inbox"></span>Yêu cầu của tôi</a>
                                    <a href="" class="dropdown-item"><span class="fas fa-lock-open"></span>Cài đặt</a>
                                    <a href="{% url 'logout' %}" class="dropdown-item"><span class="fas fa-outdent"></span>Đăng xuất</a>
                                </div>
                            </div>
                        </li>
                {% else %}
                <li class="nav-item dropdown user-profile-dropdown">
                    <a href="{% url 'login' %}" class="nav-link user">Đăng nhập</a>
                </li>
                {% endif %}
            </ul>
        </header>
    </div>
    
</div>

{% if user.is_staff or user.is_superuser or "manageUser" in user.groups.values_list|join:" " %}
<!-- sidebar -->
<div class="left-menu">
    <div class="menubar-content">
        <nav class="animated bounceInDown">
            <ul id="sidebar">
                

                <li>
                    <a href="{% url 'manage_view'%}" ><i class="fas fa-home"></i>Dashboard</a>
                </li>

                <li class="sub-menu">
                    <a href="#!" ><i class="fas fa-home"></i>Quản lý yêu cầu
                        <div class="fa fa-caret-down right"></div>
                    </a>
                    <ul class="left-menu-dp">
                        <li><a href="{% url 'manage_request'%}"><i class="fas fa-user-circle"></i>Danh sách yêu cầu</a></li>
                        <li><a href=""><i class="fas fa-user-circle"></i>Điều chỉnh Thể loại</a></li>
                    </ul>
                </li>


                <li class="sub-menu">
                    <a href="#!" ><i class="fas fa-home"></i>Quản lý bài viết
                        <div class="fa fa-caret-down right"></div>
                    </a>
                    <ul class="left-menu-dp">
                        <li><a href="{% url 'create_article'%}"><i class="fas fa-user-circle"></i>Viết bài viết</a></li>
                        <li><a href="{% url 'article_list'%}"><i class="fas fa-user-circle"></i>Danh sách bài viết</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="#!" ><i class="fas fa-home"></i>Quản lý Knowledge
                        <div class="fa fa-caret-down right"></div>
                    </a>
                    <ul class="left-menu-dp">
                        <li><a href="{% url 'create_knowledge'%}"><i class="fas fa-user-circle"></i>Tạo Knowledge</a></li>
                        <li><a href="{% url 'knowledge_list'%}"><i class="fas fa-user-circle"></i>Danh sách Knowledge</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="" ><i class="fas fa-home"></i>Danh sách Sinh viên</a>
                </li>
                
                <li>
                    <a href="" ><i class="fas fa-home"></i>Danh sách Nhân viên</a>
                </li>
                
                <li>
                    <a href="" ><i class="fas fa-home"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endif %}

<!-- endsidebar -->