{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">Case List</h1>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Handler</th>
              <th>Assignee</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for case in cases %}
            <tr>
              <td>{{ case.customer }}</td>
              <td>{{ case.handler }}</td>
              <td>{{ case.assignee }}</td>
              <td>{{ case.status }}</td>
              <td>
                <a href="{% url 'case_detail' case.id %}" class="btn btn-primary btn-sm">View</a>
                <a href="{% url 'update_case' case.id %}" class="btn btn-warning btn-sm">Edit</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
