{% extends 'bennguoidung/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/apexchart/apexcharts.css' %}">
{% endblock %}
{% block title %} Dashboard {% endblock %}
{% block style %}
<style>
   .left-menu {
   margin-top: -5px;
   }
</style>
{% endblock %}
{% block body %}
<div class="content-wrapper">
   <section class="dashboard-top-sec">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-8">
               <div class="bg-white top-chart-earn">
                  <div class="row">
                     <div class="col-sm-4 my-2 pe-0">
                        <div class="last-month">
                           <h5>Dashboard</h5>
                           <p>Overview of Latest Month</p>
                           <div class="earn">
                              <h2>3367.98</h2>
                              <p>Current Month Sales</p>
                           </div>
                           <div class="sale mb-3">
                              <h2>95</h2>
                              <p>Current month Sales</p>
                           </div>
                           <a href="" class="di-tn purple-gradient">Last Month Summary</a>
                        </div>
                     </div>
                     <div class="col-sm-8 my-2 ps-0">
                        <div class="classic-tabs">
                           <!-- ------Nav Tabs ------ -->
                           <div class="tabs-wrapper">
                              <ul class="nav nav-pills chart-header-tab mb-3" id="pills-tab" role="tablist">
                                 <li class="nav-item">
                                    <a href="#" class="nav-link chart-nav active" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button" role="tab" aria-controls="pills-week" aria-selected="true">Week</a>
                                 </li>
                                 <li class="nav-item">
                                    <a href="#" class="nav-link chart-nav" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-controls="pills-month" aria-selected="false">Month</a>
                                 </li>
                                 <li class="nav-item">
                                    <a href="#" class="nav-link chart-nav" id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button" role="tab" aria-controls="pills-year" aria-selected="false">Year</a>
                                 </li>
                              </ul>
                              <div class="tab-content" id="pills-tabContent">
                                 <div class="tab-pane fade show active" id="pills-week" role="tabpanel" aria-labelledby="pills-week-tab">
                                    <div class="widget-content">
                                       <div id="chart"></div>
                                    </div>
                                 </div>
                                 <div class="tab-pane fade" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab">Month</div>
                                 <div class="tab-pane fade" id="pills-year" role="tabpanel" aria-labelledby="pills-year-tab">Year</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'assets/js/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/apexchart/apexcharts.js' %}"></script>
<script>
    
      
    var options = {
          series: [{
          name: 'Net Profit',
          data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
        }, {
          name: 'Revenue',
          data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
        }, {
          name: 'Free Cash Flow',
          data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
        }],
          chart: {
          type: 'bar',
          height: 350
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
        },
        yaxis: {
          title: {
            text: '$ (thousands)'
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return "$ " + val + " thousands"
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
{% endblock %}
{% block footer%}{% endblock %}