{% load static%}



{% block style %}
<style>
  /* Đổi màu nền của footer */
  footer {
    background-color: #013668;
  }

  /* Đổi màu chữ của footer */
  footer {
    color: #fff;
  }

  /* Đổi kích thước font chữ của footer */
  footer {
    font-size: 16px;
  }

  /* Thêm đường viền cho footer */
  footer {
    border-top: 1px solid #ccc;
  }

  /* Tăng khoảng cách giữa các hàng trong footer */
  footer ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* Đổi màu chữ cho các liên kết trong footer */
  footer a {
    color: #fff;
  }

  /* Thêm hiệu ứng hover cho các liên kết trong footer */
  footer a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #007bff;
  }

  /* Đưa @2023 Đại học Văn Lang sang góc trái ngang hàng với Liên kết */
  footer .col-md-4.order-1 p {
    margin-bottom: 0;
    margin-top: auto;
  }

  /* Responsive footer */
  @media (max-width: 767px) {
    footer .row {
      flex-direction: column;
    }

    footer .col-md-4 {
      margin-left: 0;
      flex-basis: 100%;
    }
  }
</style>



{% endblock%}

<footer class="text-center text-lg-start custom-footer">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-4">
            <b style="color:#fff">© 2023 Đại học Văn Lang: Bản quyền thuộc về trường Đại học Văn Lang.</b>
        </div>
  
        <div class="col-md-2"style="color:#fff;">
          <h5 class="text-uppercase">Liên kết</h5>
          <hr>
  
          <div>
            <div>
              <a href="https://www.vanlanguni.edu.vn/" style="color:yellow; text-decoration:none; cursor:pointer">Trang chủ</a>
            </div>
            <div>
              <a href="https://thuvien.vanlanguni.edu.vn/" style="color:yellow; text-decoration:none; cursor:pointer">Thư viện </a>
            </div>
            <div>
              <a href="http://saudaihoc.vanlanguni.edu.vn/" style="color:yellow; text-decoration:none; cursor:pointer">Sau đại học</a>
            </div>


          </div>
        </div>

        <div class="col-md-6" style="color: #fff;">
          <h5 class="text-uppercase">Trường Đại học Văn Lang</h5>
          <hr>

          <div >
            <div>
              <span class="glyphicon glyphicon-map-marker" style="font-size:24px; color:#C25574"></span>
              <b>Trụ sở: 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, TP. HCM</b>
            </div>
            <div>
              <span class="glyphicon glyphicon-map-marker" style="font-size:24px; color:#C25574"></span>
              <b>Cơ sở 2: 233A Phan Văn Trị, P.11, Q. Bình Thạnh, TP. HCM</b>
            </div>
            <div>
              <span class="glyphicon glyphicon-map-marker" style="font-size:24px; color:#C25574"></span>
              <b>Cơ sở 3: 69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM</b>
            </div>
            <div>
              <span class="glyphicon glyphicon-map-marker" style="font-size:24px; color:#C25574"></span>
              <b>Ký túc xá: 160/63A-B Phan Huy Ích, P. 12, Q. Gò Vấp, TP. HCM</b>
            </div>
          </div>

        </div>

      </div>

    </div>
    
</footer>
