{% extends 'bennguoidung/base.html' %}
{% load static%}

{% block title %} Home page {% endblock %}

{% block style %}
<style>
  .container {
    margin-top: 40px;
  }

  .row.search-box.search-box--hero-unit {
    margin-top: -80px !important;
  }

  body {
    position: relative;
    /* để tạo tầng lớp cho phần tử container */
  }

  .background-image {
    height: 700px;
    background-image: url("{% static 'assets/img/152166687_2149163368548048_1971264751875744463_n.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    /* để tạo tầng lớp cho phần tử container */
  }

  .container.container-inner {
    position: absolute;
    /* để tách phần tử container "bài viết nổi bật" ra khỏi ảnh */
    top: 400px;
    left: 0;
    right: 0;
  }

  .promoted-articles__list {
    margin: 0 -15px;
  }

  .card {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .card-text {
    font-size: 1rem;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }

  .container-inner {

    padding: 20px;
  }

  .search-box {
    margin-bottom: 30px;
  }

  .search-box__form {
    position: relative;
  }

  .search-box__input {
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    padding: 12px 20px;
    width: 100%;
  }

  .search-box__button {
    background-color: #007bff;
    border-radius: 100px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 12px 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .fa-search {
    margin-right: 5px;
  }

  .promoted-articles__list .card {
    height: 150px;
  }

  h2 {
    text-align: center;
  }

  .left-menu {
    margin-top: 55px;
  }

  .box {
    padding: 20px;
  }

  .box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .box li {
    width: 25%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }

  .box-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
    height: 100%;
    border-radius: 20px;
  }

  .box-link:hover {
    background-color: #312471;
  }

  .box-title {
    font-size: 18px;
    margin: 0;
    color: #007bff;
  }

  /* CSS cho Promoted Article */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .promoted-articles__list {
    display: flex;
    flex-wrap: wrap;
  }


  .promoted-articles-item {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .promoted-articles-item__title {
    font-size: 18px;
    font-weight: bold;
    color: #6593c4;
    text-decoration: none;
    word-break: break-word;
  }

  .promoted-articles-item__title:hover {
    text-decoration: none;
  }

  a:hover {
    background: none;
    text-decoration: none;
  }

  .meta {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
  }

  @media (max-width: 768px) {
    .box li {
      width: 50%;
    }
  }

  @media (max-width: 576px) {
    .box li {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .promoted-articles-item {
      flex: 0 0 calc(50% - 10px);
    }
  }

  @media (max-width: 576px) {
    .promoted-articles-item {
      flex: 0 0 calc(100% - 10px);
    }
  }
</style>

{% endblock %}

{% block body %}
<div class="background-image">
  <div class="container container-inner">
    <div class="row search-box search-box--hero-unit">
      <div class="col-md-12">
        <form class="search-box__form" method="get">
          <input type="text" class="search-box__input" name='q' placeholder="Tìm kiếm">
          <button type="submit" class="search-box__button"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="container">
    <h2>Bài viết nổi bật</h2>
    <div class="promoted-articles__title">
      <ul class="promoted-articles__list">
        {% for article in article_list %}
        <li class="promoted-articles-item">
          <a class="promoted-articles-item__link" href="{% url 'article_detail' article.pk %}">
            <span class="fas fa-star" style="color:#6593c4" title="Promoted article"></span>
            <span class="promoted-articles-item__title">{{ article.title }}</span>
          </a>
          <p class="meta">{{ article.updated_at }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>


    <h2>Knowledge</h2>
    <div class="box">
      <ul class="row block-list clearfix">
        {% for knowledge in knowledges %}
        <li>
          <a href="{% url 'knowledge_detail' knowledge.pk %}" class="box-link">
            {% if knowledge.image %}
            <img src="{{ knowledge.image.url }}" alt="" style="max-height: 40px; display: block; margin: 0 auto 20px;">
            {% endif %}
            <h5 class="box-title">{{ knowledge.category }}</h5>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>





{% endblock %}


<!-- 
src="{% static 'assets/img/2020-07-14.jpg' %} -->