{% extends 'bennguoidung/base.html' %}


{% block title %} {{topic.title}} {% endblock %}

{%block style%}
  <style>
    .container{
      margin-top:100px
    }
    p img {
    width: 400px;
    height: 400px;
}
  </style>

{% endblock %}

{%block body%} 
<div class="container">
  <h1 class="mt-4 mb-3"></h1>
  <h2>{{ topic.title }}</h2>
  <p>{{topic.content|safe}}</p>
  {% if topic.image %}
    <img src="{{ topic.image.url }}" alt="{{ topic.title }}" width="200px" height="200px">
  {% endif %}
  <p><strong>Tác giả:</strong> {{ topic.author }}</p>
  <p><strong>Tình trạng: {{ my_topics.status}}</strong></p>
  <p><strong>Ngày gửi: {{ topic.start_time}}</strong></p>
  <p><a href="{% url 'my-topic' %}">Quay lại danh sách chủ đề của tôi</a></p>



</div>


{% endblock %}