{% extends 'bennguoidung/base.html' %}


{% block title %} {{topic.title}} {% endblock %}

{%block style%}
  <style>
    .container{
      margin-top:100px
    }
    picture  img {
    display: block;
    max-width: 70%;
    height: auto;
    margin: 0;
  }



  

  </style>

{% endblock %}

{%block body%} 
<div class="container">
  <h1 class="mt-4 mb-3"></h1>
  <h2>{{ mytopic.topic.title }}</h2>
  <p>{{mytopic.topic.content|safe}}</p>
  {% if mytopic.topic.image %}
  <picture>
    <source srcset="{{ mytopic.topic.image.url }}?w=480" media="(max-width: 480px)">
    <source srcset="{{ mytopic.topic.image.url }}?w=768" media="(max-width: 768px)">
    <source srcset="{{ mytopic.topic.image.url }}?w=1024" media="(max-width: 1024px)">
    <source srcset="{{ mytopic.topic.image.url }}?w=1920" media="(max-width: 1920px)">
    <img src="{{ mytopic.topic.image.url }}" alt="{{ mytopic.topic.title }}" width="100%">
  </picture>
  {% endif %}
  <p><strong>Tác giả:</strong> {{ mytopic.topic.author }}</p>
  <p><strong>Tình trạng: {{ mytopic.status}}</strong></p>
  <p><strong>Ngày gửi: {{ mytopic.topic.start_time}}</strong></p>
  <p><strong>Ngày hoàn thành: {{ mytopic.topic.end_time}}</strong></p>
  <p><a href="{% url 'my-topic' %}">Quay lại danh sách chủ đề của tôi</a></p>



</div>


{% endblock %}