.content-wrapper {
    margin-left: 10px;
    margin-top: 65px;
    transition: .5s;
}

.content-wrapper.hide {
    margin-left: 250px;
}

.top-chart-earn {
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: -2px 3px 13px 0px #ddd6;
}

.last-month {
    line-height: 20px;
    text-align: center;
}

.last-month h5 {
    font-size: 20px;
    font-weight: 600;
}

.last-month p {
    font-size: 12px;
    color: #777;
}

.earn {
    margin: 12px 0;
}

.earn h2 {
    font-size: 26px;
    font-weight: 600;
}
.chart-nav.active {
    background: #fff !important;
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
}

.chart-nav {
    color: var(--second-color);
}
.chart-nav:hover {
    color: var(--main-color);
}
.chart-nav {
    padding: 0px 15px;
    border-radius: 0;
}
.chart-header-tab {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

