{% extends 'client/base.html' %}
{% load static %}

{% block title %}Thông tin tài khoản{% endblock %}

{% block style %}

<style>
    .form-group label {
        font-weight: bold;

    }

    .form-group {
        padding: 10px;
        font-size: 20px;
    }

    .avatar-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;

    }

    .avatar-preview img {
        max-width: 100%;
        max-height: 100%;
    }


    .button-group {
        margin-top: 20px;
    }

    .custom-margin {
        margin-top: 60px !important;
    }

    footer.text-center.text-lg-start.custom-footer {
        margin-top: 274px;
    }

    @media (max-width: 768px) {
        .avatar-preview {
            width: 150px;
            height: 150px;
        }
    }

    .info {
        text-align: center;
        margin-top: 10px;
    }

    .info div {
        margin-bottom: 5px;
        font-size: 15px;

    }

    .text-center-mobile {
        text-align: center;
    }

    @media (min-width: 768px) {
        .text-center-mobile {
            text-align: left;
        }
    }

    .info-email {
        font-weight: 600;
    }
</style>
{% endblock %}

{% block body %}
<div class="wrapper"></div>
<div class="container mt-5 custom-margin">
    <h1 class="text-center-mobile" style="padding: 25px;">Thông tin tài khoản</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="avatar-preview">
                    {% if form.instance.avatar %}
                    <div class="avatar-img">
                        <img src="{{ form.instance.avatar.url }}" alt="Avatar preview">
                    </div>
                    {% else %}
                    <div class="avatar-img">
                        <img src="{% static 'img/default-avatar.png' %}" alt="Default avatar preview">
                    </div>
                    {% endif %}
                </div>
                <div class="info">
                    <div class="info-email">{{ request.user.email }}</div>
                    <div>{{ request.user.userprofile.student_id }}</div>
                </div>
                <div class="form-group">
                    <input type="file" name="avatar" accept="image/*" id="id_avatar" style="display: none;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="id_student_id">Họ và Tên:</label>
                    {{ request.user.userprofile.name }}
                </div>
                <div class="form-group">
                    <label for="id_student_id">Mã sinh viên:</label>
                    {{ request.user.userprofile.student_id }}
                </div>
                <div class="form-group">
                    <label for="id_course">Khóa học:</label>
                    {{ request.user.userprofile.course }}
                </div>
                <div class="form-group">
                    <label for="id_phone">Số điện thoại:</label>
                    {{ form.phone }}
                </div>
                <div class="form-group button-group">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                    <a href="{% url 'account_profile' %}" class="btn btn-secondary">Hủy bỏ</a>
                </div>
            </div>
        </div>
    </form>
</div>




<script>
    const avatarPreview = document.querySelector('.avatar-preview');
    const avatarInput = document.querySelector('#id_avatar');

    avatarPreview.addEventListener('click', () => {
        avatarInput.click();
    });

    avatarInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = () => {
            const img = document.createElement('img');
            img.src = reader.result;
            avatarPreview.querySelector('.avatar-img').innerHTML = '';
            avatarPreview.querySelector('.avatar-img').appendChild(img);
        };

        reader.readAsDataURL(file);
    });
</script>
{% endblock %}