<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Quy trình của bạn đang được xử lý</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus vestibulum diam, quis aliquet nisi fermentum eu. Nunc maximus finibus neque ac blandit.</p>
    </div>
  </div>
  
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Shipper đang trong quá trình tiến hành</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus vestibulum diam, quis aliquet nisi fermentum eu. Nunc maximus finibus neque ac blandit.</p>
    </div>
  </div>
  
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Đơn hàng của bạn đã được giao</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus vestibulum diam, quis aliquet nisi fermentum eu. Nunc maximus finibus neque ac blandit.</p>
    </div>
  </div>